body, html{
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
  -ms-overflow-style: none; 
  scrollbar-width: none;
    cursor: crosshair;
}

html::-webkit-scrollbar {
    display: none;
}

.navbar {
  width: 100%; 
  background-color: grey; 
  padding: 10px 0; 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box; 
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 1000; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -ms-flex-pack: distribute; 
      justify-content: space-around; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center; 
}

.tools {
  width: 100%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -ms-flex-pack: distribute; 
      justify-content: space-around; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center; 
  position: fixed; 
  top: 10px; 
  z-index: 500; 
}

.save-form {
  position: fixed; 
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 60px; 
  margin-top: 60px;
  z-index: 500;
}

.button {
  background-color: green; 
  height: 48px; 
  border: none; 
  color: white; 
  padding: 0 15px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
}


.filename-input {
  background-color: #FAEBD7; 
  border: 1px solid #000; 
  padding: 5px 10px; 
  font-size: 16px; 
  border-radius: 5px; 
  margin: 10px 0; 
}

.size-slider {
  background-color: #09718bdf;
}

.color-picker {
  background-color: #09718bdf;
}

.marker-icon {
  background-color: #09718bdf;
  cursor: pointer;
}

.marker-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.eraser-icon {
  background-color: #09718bdf;
  cursor: pointer;
}

.eraser-icon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  } 
}

.container {
  position: relative;
}

.rotating-icon {
  width: 48px; 
  height: 48px;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  top: 20px;
}

@media only screen and (max-width: 990px) {
    
  html{
      font-size: 90%;
  }
 
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  header img {
    margin-bottom: 18px;
  }

  .toolbar {
    height: 35px;
    padding: 3px;
    margin: 2px;
  }
  
  .sidebar {
      margin-top: 18px;
  }
}

@media only screen and (max-width: 768px) {
  
  html{
      font-size: 80%;
  }
 
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  header img {
      margin-bottom: 20px;
  }

  .toolbar {
    height: 35px;
    padding: 3px;
    margin: 2px;
  }

  .sidebar {
      margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  
  html {
      font-size: 70%;
  }
   
  .header-container {
      padding: 20px;
  }

  header img {
      width: 120px;
  }

  .toolbar {
    height: 35px;
    padding: 3px;
    margin: 2px;
  }

  .sidebar {
      padding: 10px;
  }
}
