body, html{
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
  -ms-overflow-style: none; 
  scrollbar-width: none;
    cursor: crosshair;
}

html::-webkit-scrollbar {
    display: none;
}

.navbar {
  width: 100%; 
  background-color: grey; 
  padding: 10px 0; 
  box-sizing: border-box; 
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 1000; 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
}

.button {
  background-color: green; 
  height: 48px; 
  border: none; 
  color: white; 
  padding: 0 15px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
}

.tools {
  padding-top: 60px; 
  display: flex;
}

#B, #undoBtn, #redoBtn, #saveBtn {
  width: auto; 
}


.size-slider {
  position: fixed;
  left: 60%;
  top: 100px;
  width: 5%;
  height: 30px; 
  order: 2;
}

.color-picker {
  background-color: #09718bdf;
  position: fixed;
  left: 70%;
  top: 100px;
  width: 5%;
  order: 1;
}

.marker-icon {
  background-color: #09718bdf;
  position: fixed;
  left: 80%;
  top: 100px;
  width: 2%;
  cursor: pointer;
  transition: transform 0.2s;
  order: 3; 
}

.marker-icon:hover {
  transform: scale(1.1);
}

.eraser-icon {
  background-color: #09718bdf;
  position: fixed;
  left: 90%;
  top: 100px;
  width: 2%;
  cursor: pointer;
  transition: transform 0.2s;
  order: 4;
}

.eraser-icon:hover {
  transform: scale(1.1);
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.container {
  position: relative;
}

.rotating-icon {
  width: 48px; 
  height: 48px;
  animation: rotate 2s linear infinite;
  top: 20px;
}

@media (max-width: 600px) {
  .size-slider {
      width: 30%; 
      left: 35%; 
      top: 100px; 
  }
}

